@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@300;400;500;600&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

html,body{
    height: 100%;
}
body{
    display: grid;
    place-content: center;
    background-color: black;
}

.clock{
    color: white;
    height: 100px;
    width: 500px;
    text-align: center;
}

.clock .display{
    font-size: 50px;
    color: rgb(26, 179, 26);
    letter-spacing: 5px;
}
