@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
.calc1{
    position: relative;
    max-width: 450px;
    width: 100%;
    padding: 10px 20px 20px;
    border-radius: 12px;
    background: white;
}
input{
    padding: 20px 136px;
    border: none;
    background-color: rgb(9, 6, 1);
    color: white;
    text-align: right; /* Align text to the right */
}
.buttons{
    padding-top: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    font-size: 20px;
}
.buttons button{
    padding: 10px;
    border: none;
}
